<div class="row mt-5">
    <div class="col-sm-4 col-sm-offset-4">
        {{!-- {% csrf_token %} --}}
        <form action="/posts/new" method="post" enctype="multipart/form-data">
            <legend>New Post</legend>
            <div class="form-group">
                <label for="post-title">Title</label>
                <input type="text" name="title" class="form-control" id="post-title" placeholder="Title">
            </div>
            <div class="form-group">
                <label for="post-url">Url</label>
                <input type="url" name="url" class="form-control" id="post-url" placeholder="https://www.google.com">
            </div>
            <div class="form-group">
                <label for="post-summary">Summary</label>
                <textarea name="summary" class="form-control" id="post-summary" placeholder="Title"></textarea>
            </div>
            <div class='text-right'>
                <button type="submit" class="btn btn-primary">Create Post</button>
                {{!-- {% if user == page.author %} --}}
                {{!-- <button class="btn btn-default" formaction="{% url 'delete-page' page.slug %}"><i class="fas fa-trash"></i></button> --}}
                {{!-- {% endif%} --}}
            </div>
        </form>
    </div>
</div>